
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');



body {
  margin: 0;
  font-family: 'Changa', 'Gill Sans MT';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
